src/App.test.js
src/serviceWorker.js 
cypress/*
src/provider/ProviderRecipe.js
src/provider/ApiFunctions.js
src/pages/ProgressoBebidas.jsx
src/pages/ProgressoComidas.jsx
src/pages/ReceitasFavoritadas.jsx
src/components/Header.jsx
