.background-explore {
  background-image: url(../images/capaLogin.jpeg);
  height: 800px;
}

.button-explore {
  font-size: 20px;
  height: 60px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 100px;
  text-align: center;
  width: 60%;
}

.all-button-explore {
  text-align: center;
}
