@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap') ;

* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}

body, html {
  background-color: #eeeae1;
  background-image: image();
  font-family: Merienda , SourceSansPro-Regular , sans-serif;
  height: 100%;
}

.container-login100 {
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;
  position: relative;
  width: 100%;
  z-index: 1;
}

