* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}

body, html {
  background-color: #eeeae1;
  height: 100%;
}

.container-login100 {
  align-items: center;
  background-image: url('../images/capaLogin.jpeg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.form-login {
  width: 60%;
}

.button-login {
  margin-left: 60px;
}

.logo-seletas {
  float: right;
  height: 130px;
  margin-bottom: 480px;
  position: absolute;
  text-shadow: 0 2px 6px black;
}
