@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Open+Sans:wght@300&display=swap');

* {
  font-family: Merienda, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  font-family: Merienda , SourceSansPro-Regular , sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Merienda, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
